body {
	background: url(../img/bg.png);
	overflow-y: scroll;
}

/**
	Block
**/
.block {
	border-radius: 5px;
	background: #FFF;
}

.block .block-head {
	border-radius: 5px 5px 0 0;
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
	border: 1px solid #CCC;
	border-bottom: 0;
}

.block .block-head h2 {
	font-size: 18px;
	text-transform: uppercase;
	color: #555;
	text-shadow: 1px 1px 0 white;
	line-height: 54px;
	margin: 0px 20px;
}

.block .block-content {
	border: 1px solid #ccc;
	padding: 20px 10px;
}

/**
	Table
**/

table .actions .btn {
	display: none;
}

table tr:hover .btn {
	display: inline;
}